@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Navbar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*:focus{
    outline: none;
}

body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background:#fff ;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index: 1;
}

.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100%;
    margin-top: 5px;
}

.search-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.nav-icon{
    height: 22px;
    position: relative;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-picture{
    width: 22px;
    border-radius: 50%;
    background-image: url(img/profile.jpg);
    background-size: cover;
}

/* like dropdown */

.like-picture{
    height: 40px;
    position: relative;
}

.dropdown{
    position:absolute;
    top: 50px;
    left: 30px;
    transform: translate(-50%, -10px);
    width: 450px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.dropdown.active{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -10px);
}

.dropdown::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 79%;
    width: 20px;
    height: 20px;
    transform: translateX(-50%) rotate(45deg);
    background: #EEE;
    z-index: -1;
}

.dropdown ul{
    width: 100%;
    height: 100%;
    background: #EEE;

}

.dropdown ul li{
    list-style: none;
    line-height: 50px;
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.dropdown ul li:nth-child(1){
    border-top: none;
}

.dropdown ul li:hover{
    background: #BBB;
}

.dropdown ul li a{
    padding-left: 10px;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.dropdown ul li:hover{
    color: BBB;
}

/* user dropdown */

.user-icon{
    height: 20px;
    position: relative;
}

.User-dropdown{
    position:absolute;
    top: 50px;
    left: 70%;
    transform: translate(-50%, -10px);
    width: 200px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.User-dropdown.active{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -10px);
}

.User-dropdown:before{
    content: '';
    position: absolute;
    top: -10px;
    left: 74%;
    width: 20px;
    height: 20px;
    transform: translateX(-50%) rotate(45deg);
    background: #EEE;
    z-index: -1;
}

.User-dropdown ul{
    width: 100%;
    height: 100%;
    background: #EEE;

}

.User-dropdown ul li{
    list-style: none;
    line-height: 50px;
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.User-dropdown ul li:nth-child(1){
    border-top: none;
}

.User-dropdown ul li:hover{
    background: #BBB;
}

.User-dropdown ul li a{
    padding-left: 10px;
    text-decoration: none;
    color: #000;
    font-size: 1em;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}
/* end Navbar */


/* Chat */
.bg-container {
    width: 100%;
    height: calc(100% - 50px);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 50px;
}

.inbox-container {
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: row;
}


/* Left Component */
.user-online {
    width: 35%;
    height: 100%;
    background-color: #BFC9CA;
    margin: 0 10px;
    border-radius: 20px;
}

.user-online-header, .message-username {
    font-size: 2vmax;
    font-weight: 600;
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

/* Chat select */
.user-message-select {
    height: calc(100% - 90px);
    overflow: auto;
    padding: 0 15px;
}

.user-box {
    height: auto;
    padding: 10px 15px;
    display: flex;
    cursor: pointer;
}

.user-box.active {
    background-color: #D5DBDB;
    border-radius: 10px;
}
.user-proflie img{
    border-radius: 50%;
}
.user-box>.user-proflie {
    width: 4vmax;
    height: 4vmax;
    position: relative;
    border-radius: 50%;
}

.user-box>.user-proflie .online-status {
    background-color: #DFFF00;
    width: 1vmax;
    height: 1vmax;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    border-radius: 50%;
}

.user-box>.user-info {
    width: calc(100% - 4vmax);
    height: auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info-name {
    font-size: 1.5vmax;
    font-weight: 600;
}

.user-info-message {
    font-size: 1vmax;
    font-weight: 400;
}


/* Right Component */
.message-show {
    position: relative;
    width: 65%;
    height: 100%;
    background-color: #D5DBDB;
    margin: 0 10px;
    border-radius: 20px;
}

/* Message none */
#message-none {
    visibility: visible;
}

.message-none-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #b4a494;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.message-exp-ico {
    width: 5vmax;
}

.message-exp-text {
    font-size: 1.5vmax;
    padding-top: 20px;
}
/* End Message none */

/* Message show */
#message-show {
    visibility: hidden;
}

.message-show-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.message-username {
    border-bottom: 3px solid #BFC9CA;
}

.message-cont {
    height: calc(100% - 70px - 3vmax);
    overflow-y: auto;
}

.message-box {
    width: auto;
    min-height: 4vmax;
    padding: 10px 30px;
}

.partner-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.partner-box > .user-proflie {
    height: 3.8vmax;
    padding-right: 15px;
}

.partner-box > .partner-msg {
    display: flex;
    align-items: center;
    min-height: 60%;
    max-width: 70%;
    font-size: 1.2vmax;
    padding: 5px 15px;
    border: 2px solid tomato;
    border-radius: 15px 15px 15px 0;
    word-break: break-all;
}

.partner-box > .blank-box {
    min-width: 2vmax;
    height: 100%;
}

.owner-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.owner-box > .owner-msg {
    display: flex;
    align-items: center;
    min-height: 60%;
    width: auto;
    font-size: 1.2vmax;
    padding: 5px 15px;
    border: 2px solid tomato;
    border-radius: 15px 15px 0 15px;
    word-break: break-all;
}

.owner-box > .blank-box {
    min-width: 2vmax;
    height: 100%;
}

/* Input */
.message-send {
    height: 70px;
    padding: 15px 30px;
}

.message-send-area {
    /* width: 100%; */
    height: 100%;
    padding: 0 10px;
    background-color: #ECF0F1;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-input {
    width: calc(95% - 4vmax);
    height: 80%;
    background-color: transparent;
    border: none;
    text-align: right;
    font-size: 1.2vmax;
    outline: transparent;
}

.send-btn {
    background-color: #DFFF00;
    width: 4vmax;
    height: 80%;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
/* End Message show */
